body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.heroContainer {
  height: 600px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.overlay p {
  margin-top: -18px;
}

.triangleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 8%);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-bottom: 30vh solid white;
}

.contentContainer {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 200px;
}

.cardContainer {
  display: flex;
  justify-content: space-between;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
