.nav {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease;
}

.navbarColor {
  background-color: #ff6600;
}

.navbarText {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 6px;
}

.navbarText:hover {
  border-bottom: 4px solid #fff;
}

.navbarText.active {
  border-bottom: 4px solid #fff;
}

.logo {
  margin-left: 70px;
  margin-top: 8px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.navText {
  margin-top: 28px;
  margin-right: 70px;
}
